.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo2 {
  width: 150px;
  height: 150px;
  pointer-events: none;
}

.city-select {
  padding: 8px;
  font-size: 16px;
  border: 5px solid #80D4FF;
  border-radius: 4px;
}

/* Style the options in the dropdown */
.city-select option {
  background-color: #c7cfd3; /* Background color of each option */
  color: #333; /* Text color of each option */
  padding: 8px;
  font-size: 14px;
}

/* Style the selected option */
.city-select option:checked {
  background-color: #e0e0e0; /* Background color of the selected option */
  font-weight: bold;
}
